@{
    ViewBag.Title = "AcercaDe";
}

@section styles{
    <link href="~/Content/acercade.css" rel="stylesheet" />
}

@section scripts{    
    <script src="~/Scripts/acercade.js"></script>
}

<h2>Acerca De</h2>

<p>Vélez, el mejor club!!</p>

